* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  position: sticky;
  height: 60px;
  width: 100%;
  background-color: rgb(170, 202, 250);
  z-index: 1;
  & h1 {
    width: 80%;
    text-align: center;
  }
  & img {
    width: 40px;
    height: 80%;
    margin: 0 auto;
  }
}

#car-shop {
  position: fixed;
  top: 60px;
  height: 400px;
  width: 300px;
  background-color: rgb(219, 218, 218);
  z-index: 1;
  right: 10px;
  box-shadow: 2px 0 20px rgb(204, 204, 204);
  border-radius: 8px;
  display: none;
  flex-direction: column;
  z-index: 1;
}

#menu-car-shop {
  display: flex;
  height: 40px;
  width: 100%;
  justify-content: center;
  align-items: center;
  & img {
    width: 30%;
    height: 60%;
  }
}

.block-product-car-shop {
  width: 100%;
  height: 80%;
  overflow: hidden;
  overflow-y: scroll;
  gap: 10px 0px;
}

.block-product-car-shop::-webkit-scrollbar {
  width: 8px;
}

.block-product-car-shop::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 10px;
}

.block-product-car-shop::-webkit-scrollbar-track {
  background: transparent;
}

.product-car-shop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  gap: 0 10px;
  padding: 5px;
  box-shadow: 2px 0px 8px white;
  border-radius: 8px;
}

.img-product-car-shop {
  width: 20%;
  height: 100%;
  margin-top: 0 auto;
  border-radius: 10px;
}

.information-product-car-shop {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

.action-product-car-shop {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 5px;
  & img {
    width: 15px;
    height: 50%;
    &:hover {
      cursor: pointer;
    }
  }
}

#total-price {
  text-align: center;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-product {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0 ;
  flex-wrap: wrap;
  gap: 20px 0px 
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 350px;
  border-radius: 20px ;
  padding: 5px;
  box-shadow: 2px 0px 20px rgb(177, 176, 176);
  &:hover{
    box-shadow: 2px 0px 20px  rgba(204, 224, 253, 0.925);
  }
  & .img-product {
    height: 40%;
    width: 60%;
    border-radius: 20px;
    object-fit: contain;
  }
  & .information-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45%;
    width: 100%;
    text-align: center;
    gap: 10px 0 ;
    margin: 10px 0;
    & .title-product {
      height: 30%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    & .description-product {
      height: 55%;
      width: 100%;
      padding: 0 3px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    & .Stock-product {
      height: 10%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  & .btn-add-to-car {
    height: 10%;
    width: 50%;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    background-color: rgba(204, 224, 253, 0.925);
    &:hover {
        background-color:rgb(170, 202, 250);
        transition: ease 0.1s;
         box-shadow: 2px 0px 10px rgb(170, 202, 250);
    }
  }
}
